<mat-card class="login-card">
  <mat-card-title class="login-title">Login</mat-card-title>
  <mat-card-content>
    <form>
      <mat-form-field class="full-width">
        <mat-label>Correo Electrónico</mat-label>
        <input matInput placeholder="example@hotmail.com" type="email" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput placeholder="********" type="password" />
      </mat-form-field>
      <div class="register-container">
        <p class="register-text">¿No estás registrado?</p>
        <a routerLink="/auth/register" class="register-link">Regístrate aquí</a>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions class="action-buttons">
    <button routerLink= "/home" routerLinkActive="router-link-active"  mat-stroked-button class="btn-volver">Volver</button>
    <button mat-stroked-button class="btn-registrarse">Iniciar Sesion</button>
  </mat-card-actions>
</mat-card>
