<mat-card class="product-card" appearance="outlined">
    <img mat-card-image class="product-image" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    
    <div class="product-content">
      <mat-card-header>
        <mat-card-title>Titulo del producto</mat-card-title>
        <!-- <mat-card-subtitle>Nombre del vendedor</mat-card-subtitle> -->
      </mat-card-header>
      <mat-card-content>
        <p>
          Mucho texto sobre el producto que estará alineado a la derecha.
        </p>
      </mat-card-content>
      
      <!-- GRID de categorías -->
      <div class="product-grid">
        <div>Marca: Toyota</div>
        <div>Modelo: Corolla</div>
        <div>Año: 2022</div>
        <div>Precio: $25,000</div>
      </div>
    </div>
  </mat-card>
  
  
  