<mat-card class="product-card" appearance="outlined">
  <img mat-card-image class="product-image" [src]="product.imagen" alt="{{product.imagen}}">
    
    <div class="product-content">
      <mat-card-header>
        <mat-card-title>{{product.tipo}}</mat-card-title>
        <!-- <mat-card-subtitle>Nombre del vendedor</mat-card-subtitle> -->
      </mat-card-header>
      <mat-card-content>
        <p>
          {{product.descripcion}}
        </p>
      </mat-card-content>
      
      <!-- GRID de categorías -->
      <div class="product-grid">
        <div>Marca: {{product.marca}}</div>
        <div>Modelo: {{product.modelo}}</div>
        <div>Año: {{product.anio}}</div>
        <div>Precio: {{product.precio}}</div>
      </div>
    </div>
  </mat-card>
  
  
  