<mat-card class="register-card">
    <mat-card-title class="register-title">Regístrate</mat-card-title>
    <mat-card-content>
      <form>
        <mat-form-field class="full-width">
          <mat-label>Correo</mat-label>
          <input matInput placeholder="Ingresa tu correo" type="email" />
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Ingresa tu nombre" type="text" />
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Teléfono</mat-label>
          <input matInput placeholder="Ingresa tu teléfono" type="tel" />
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput placeholder="Crea una contraseña" type="password" />
        </mat-form-field>
        <div class="login-container">
          <p class="login-text">¿Ya tienes cuenta?</p>
          <a routerLink="/auth/login" class="login-link">Logeate Aquí</a>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions class="action-buttons">
        <button routerLink= "/home" routerLinkActive="router-link-active"  mat-stroked-button class="btn-volver">Volver</button>
      <button mat-stroked-button class="btn-registrarse">Registrarse</button>
    </mat-card-actions>
  </mat-card>
  