<mat-card class="filterCard"appearance="outlined">
  <br>
  <div>
    <h3>Precio</h3>
    <mat-slider
        class="example-margin"
        [max]="maxPrice"
        [min]="0"
        [step]="1"
        [discrete]="false"
        [showTickMarks]="true">
      <input matSliderThumb [(ngModel)]="maxPrice" #slider>
    </mat-slider>
    <div>
      <span> ${{ priceRange[0] }} - ${{ priceRange[1] }}</span>
    </div>
  </div>
  <br>


  <br>
  <div>
    <h3>Categorías</h3>
    <div *ngFor="let category of categories" class="category-container">
      <label [for]="category">{{ category }}</label>
    </div>
  </div>
  <br>

  <br>
  <h3>Marcas</h3>
  <div *ngFor="let brand of brands" class="brand-container">
    <label [for]="brand">{{ brand }}</label>
  </div>
  <br>

</mat-card>